@model Logitech.Models.Account
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
}

<div class="auth-form">
    <div class="auth-form__top">
        <div class="auth-form__header">
            <h3 class="auth-form__heading">Đăng ký</h3>
            <span class="auth-form__switch-btn">
                <a href="@Url.Action("Login","Home")">Đăng Nhập</a>
            </span>
        </div>

        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    <div class="auth-form__form">
        <div class="auth-form__group">
            @Html.TextBoxFor(a => a.UserName, "", new { @class = "auth-form__input", @placeholder = "Tên người dùng của bạn" })
            @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "text-danger" })
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }

        </div>
        <div class="auth-form__group">
            @Html.PasswordFor(a => a.Password, new { @class = "auth-form__input", @placeholder = "Mật khẩu của bạn" })
            @Html.ValidationMessageFor(a => a.Password, "", new { @class = "badge badge-danger" })
        </div>
        <div class="auth-form__group">
            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "auth-form__input", @placeholder = "Xác nhận mật khẩu" })
            @Html.ValidationMessageFor(a => a.Password, "", new { @class = "badge badge-danger" })
        </div>
        <div class="auth-form__group">
            @Html.TextBoxFor(a => a.FullName, new { @class = "auth-form__input", @placeholder = "Họ và tên của bạn" })
            @Html.ValidationMessageFor(a => a.FullName, "", new { @class = "badge badge-danger" })
        </div>
        <div class="auth-form__group">
            @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "auth-form__input", @placeholder = "Số điện thoại của bạn" })
            @Html.ValidationMessageFor(a => a.PhoneNumber, "", new { @class = "badge badge-danger" , @type = "number" })
        </div>
    </div>
            <div class="auth-form__aside">
                <p class="auth-form__aside-text">
                    Bằng việc đăng ký, bạn đã đồng ý với Logitech về
                    <a href="" class="auth-form__aside-link">Điều khoản dịch vụ</a> &
                    <a href="" class="auth-form__aside-link">Chính sách bảo mật</a>
                </p>
            </div>

            <div class="auth-form_controls">
                <a href="@Url.Action("Index","Home")" class="btn btn--back">TRỞ LẠI</a>
                <button type="submit" class="btn btn--primary">ĐĂNG KÝ</button>
            </div>
        }
    </div>
    <div class="auth-form_socials">
        <a href="" class="btn--with-icon btn--facebook">
            <img src="~/img/facebook.png" alt="Facebook" class="auth-form_socials--icon">
            <span class="auth-form_socials--text">Kết nối với Facebook</span>
        </a>
        <a href="" class="btn--with-icon btn--google">
            <img src="~/img/google.svg" alt="Google" class="auth-form_socials--icon">
            <span class="auth-form_socials--text">Kết nối với Google</span>
        </a>
    </div>
</div>